---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro';
import Header from '../components/Header.astro';
import { Font } from 'astro:assets';

interface Props {
	title: string;
	isBlog?: boolean;
	postTitle?: string;
	pubDate?: string | Date;
}

const { title, isBlog = false, postTitle = '', pubDate = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Minimalist Portfolio" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Font cssVariable="--font-inter" preload />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>	
	<body class=" antialiased">
		<main class="max-w-3xl mx-auto px-6 py-4 min-h-screen flex flex-col">
			<Header isBlog={isBlog} postTitle={postTitle} pubDate={pubDate} />
			<slot />
            <!-- Simple Footer -->
            <footer class="mt-auto pt-20 text-xs">
                &copy; {new Date().getFullYear()}
            </footer>
		</main>
		<Analytics />
	</body>
</html>